body {
  background:#ece5dd;
  font-family: Arial, sans-serif;
}

.chat-container {
  max-width: 420px;
  margin: auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background:#efeae2;
}

.chat-header {
  background:#075e54;
  color:white;
  padding:10px;
  display:flex;
  gap:10px;
  align-items:center;
}

.avatar {
  width:40px;
  border-radius:50%;
}

.chat-body {
  flex:1;
  padding:10px;
  overflow-y:auto;
}

.bot, .user {
  max-width:75%;
  padding:8px 12px;
  margin:6px 0;
  border-radius:7px;
  font-size:14px;
}

.bot {
  background:white;
}

.user {
  background:#dcf8c6;
  margin-left:auto;
}

.chat-input {
  display:flex;
  padding:8px;
  background:white;
}
